body
{
        margin: 0;
        padding: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        min-hight: 100vh;
        background: #031321;
        font-family: MinecraftMono;}
  .nb0 {
    background-color: rgb(37, 48, 202);
    border: none;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    color: white;
    border-radius: 15px;
    box-shadow: 0 5px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
    font-family: MinecraftMono;
    z-index: 2;
    transition-duration: 0.4s;
  }  
  
  .nb0:hover {
    border-radius: 25px;
    box-shadow: 0 12px 17px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
  
  }
