body
{
        margin: 0;
        padding: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        min-hight: 100vh;
        background: #031321;
        font-family: MinecraftMono;
        color: white;
        border-radius: 15px;
}
  .nb0 {
    border: none;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    color: white;
    border-radius: 20px
    font-family: MinecraftMono;
    transition-duration: 0.4s;
    background-color: rgb(37, 48, 202);
    cursor: pointer;   
    
  }  
  
  .nb0:hover {
    z-index: 2;
    border-radius: 30px;
    box-shadow: 0 0px 16px 0 rgb(37, 48, 202), 0 17px 50px 0 rgb(37, 48, 202);
    background-color: rgb(37, 48, 202);
  
  }
