body
{
        margin: 0;
        padding: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        min-hight: 100vh;
        background: #031321;
        font-family: MinecraftMono, 'Courier New', monospace;
        color: white;
        border-radius: 15px;
}
  .nb0 {
    border: none;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    color: white;
    border-radius: 10px;
    font-family: MinecraftMono, 'Courier New', monospace;
    transition-duration: 0.4s;
    box-shadow: 0 0px 8px 0 rgb(37, 48, 150), 0 9px 25px 0 rgb(37, 48, 150);
    background-color: rgb(37, 48, 160);
    cursor: pointer;   
          
    
  }  
  
  .nb0:hover {
    z-index: 2;
    border-radius: 30px;
    box-shadow: 0 0px 16px 0 rgb(37, 48, 202), 0 17px 50px 0 rgb(37, 48, 202);
    background-color: rgb(37,48, 202);
  
  }


#text:has(.nb0:hover) .nb0:not(.nb0:hover) {
    opacity:0.2;
    /* Add anything you want the text which is not hovered to do/change here. */    
    box-shadow: 0 0px 0px 0 rgba(0, 0, 0, 0), 0 0px 0px 0 rgba(0, 0, 0, 0);
        
}

#text{
    display: grid;
    grid-template-columns: 25px auto 100px auto; 
    row-gap: 25px;        
           
}        
